asgiref==3.2.10
astroid==2.4.2
CacheControl==0.12.6
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
decorator==4.4.2
Django==3.1.2
future==0.18.2
geocoder==1.38.1
gunicorn==20.0.4
idna==2.10
isort==5.6.4
Jinja2==2.11.2
jsonpickle==0.9.6
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
msgpack==1.0.2
psycopg2==2.8.6
pylint==2.6.0
pylint-django==2.3.0
pylint-plugin-utils==0.6
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
ratelim==0.1.6
render==1.0.0
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
toml==0.10.1
typed-ast==1.4.1
urllib3==1.26.2
weather-api==1.0
wrapt==1.12.1
